<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kjw.a2018summerproject">
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MEDIA_CONTENT_CONTROL" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.GVCalendarActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".diary_Mainactivity" />
        <activity android:name=".diary_Total" />
        <activity android:name=".diary_Write" />
        <activity android:name=".diary_View" />
        <activity android:name=".sch_Mainactivity" />
        <activity android:name=".SchAddActivity" />
        <activity android:name=".SchSearchActivity" />
        <activity android:name=".ex_Cycle" />
        <activity android:name=".ex_ExerciseStart" />
        <activity android:name=".ex_Routine" />
        <activity android:name=".ex_Mainactivity"/>
        <activity android:name=".ex_Help"/>
        <activity android:name=".ex_ExerciseFinish"/>
        <activity android:name=".ex_ExerciseReport"/>
        //가계부팀 화면 추가//
        <activity android:name=".acc_MainActivity" />
        <activity android:name=".acc_EditActivity" />
        <activity android:name=".acc_Weeklyactivity" />
        <activity android:name=".acc_DailyActivity" />
        <activity android:name=".sch_Verify"></activity>
    </application>

</manifest>